.about-container {
    min-height: calc(100vh - 100px);
    background-image: url('../assets/luffy-about-page.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.85);  /* white background with transparency */
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.about-content p {
    font-size:1.2rem;
    font: bold;
    margin-bottom: 20px;
    color: #743333;  /* dark text */
}