.contact-container {
    min-height: calc(100vh - 100px);
    padding: 50px;
    background-image: url('../assets/contact-page-light-mode.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .contact-container {
    min-height: calc(100vh - 100px);
    padding: 50px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
} */

form {
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #000000;
    margin: 25px;
}

form h2{
    font-size: 2rem;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

.input-box .field.mess {
    height: 200px;
    resize: none;
}

form button {
    width: 100%;
    height: 55px;
    background: rgb(254, 191, 229);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: rgb(247, 136, 202);
}