* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
}

.app.dark-mode {
    background-color: #1a1a1a;
    /* color: white; */
}

.app.dark-mode .navbar {
    background-color: #5c3a3a;
    transition: background-color 0.5s ease;
}